@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    background: #0c192c;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
}

.bubbles {
    position: relative;
    display: flex;
}

.bubbles span {
    z-index: -4;
    opacity: 70%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0 4px;
    background-color: cyan;
    box-shadow: 0 0 10px cyan, 0 0 50px cyan, 0 0 100px cyan;
    animation: animate 15s linear infinite;
    animation-duration: calc(125s / var(--i));
}

.bubbles span:nth-child(even) {
    background-color: #ff2d75;
    box-shadow: 0 0 0 10px #ff2d7544,
    0 0 50px #ff2d75,
    0 0 100px #ff2d75;

}

@keyframes animate {
    0% {
        transform: translateY(100vh) scale(0);
    }

    100% {
        transform: translateY(-10px) scale(1);
    }
}

.power {
    margin: 2.5rem;
    text-align: center;
    font-size: 1.5rem;
}

h1 {
    text-align: center;
    font-size: 5rem;
}

#flex {
    position: relative;
    width: 100%;
    gap: 2rem;
    height: 100px;
    display: flex;
    justify-content: space-between;
}

#flex .sub {
    width: 34%;
    padding-top: 10px;
    text-align: center;
    border: 5px solid #fff;
    border-radius: 10px;
}

@media screen and (max-width: 786px) {
    #flex {
        flex-direction: column;
    }
    #flex .sub {
        padding-top: 5px;
        height: 120px;
        width: 100%;
    }
}